services:
    # Database
    - Dibi\Connection([
            driver: sqlite3
            file: %appDir%/../database/database.sqlite
        ])

    # DateTimeProvider
    dateTimeProvider: Common\Clock\SystemDateTimeProvider

    # Logger
    logger: @Tracy\ILogger

    # Repositories
    tariffRepository: Model\Tariff\Repository\TariffRepository
    ITariffRepository: @tariffRepository
    ITariffUpdateCapableRepository: @tariffRepository
    customerRepository: Model\Customer\Repository\CustomerRepository
    ICustomerRepository: @customerRepository
    ICustomerUpdateCapableRepository: @customerRepository
    calculationRepository: Model\Calculation\Repository\CalculationRepository
    
    

    # Factories
    tariffFactory:
        factory: Model\Tariff\Factory\TariffFactory(@tariffRepository, @dateTimeProvider)
    customerFactory:
        factory: Model\Customer\Factory\CustomerFactory(@ICustomerUpdateCapableRepository, @dateTimeProvider)
    calculationFactory: Model\Calculation\Factory\CalculationFactory    

    # Validation
    tariffInputValidator: Model\Tariff\Validation\TariffInputValidator
    customerValidator: Model\Customer\Validator\CustomerValidator
    calculationValidator: Model\Calculation\Validator\CalculationValidator

    # Services
    calculationService: Model\Calculation\Service\CalculationService
    tariffUpdateService:
        factory: Model\Tariff\Service\TariffUpdateService(@tariffRepository, @tariffFactory, @tariffInputValidator, @logger)
    customerUpdateService:
        factory: Model\Customer\Service\CustomerUpdateService(@ICustomerUpdateCapableRepository, @customerFactory, @customerValidator, @logger)
    customerCreateService:
        factory: Model\Customer\Service\CustomerCreateService(@ICustomerUpdateCapableRepository, @customerFactory, @customerValidator)
    calculationUpdateService:
        factory: Model\Calculation\Service\CalculationUpdateService(
            @calculationRepository,
            @calculationFactory,
            @calculationValidator,
            @logger,
            @dateTimeProvider
        )
        
    # Presenters
    - ApiModule\CustomerPresenter

    # Router
    router:
        factory: Common\Router\RouterFactory::createRouter
