application:
    errorPresenter: Api:Error
services:
    # Database
    - Dibi\Connection([
            driver: sqlite3
            file: %appDir%/../database/database.sqlite
        ])

    # DateTimeProvider
    dateTimeProvider: Common\Clock\SystemDateTimeProvider

    # Logger
    logger: @Tracy\ILogger

    # Repositories
    tariffRepository: Model\Tariff\Repository\TariffRepository
    ITariffRepository: @tariffRepository
    customerRepository: Model\Customer\Repository\CustomerRepository
    ICustomerRepository: @customerRepository
    ICustomerUpdateCapableRepository: @customerRepository
    ICalculationRepository: @calculationRepository
    calculationRepository: Model\Calculation\Repository\CalculationRepository
    ICalculationUpdateCapableRepository: @calculationRepository

    # Factories
    tariffFactory:
        factory: Model\Tariff\Factory\TariffFactory(@tariffRepository, @dateTimeProvider)
    customerFactory: Model\Customer\Factory\CustomerFactory
    calculationFactory: Model\Calculation\Factory\CalculationFactory

    # Validation
    customerValidator: Model\Customer\Validator\CustomerValidator
    ICustomerValidator: @customerValidator
    calculationValidator: Model\Calculation\Validator\CalculationValidator
    ICalculationValidator: @calculationValidator

    # Services
    customerUpdateService: Model\Customer\Service\CustomerUpdateService
    ICustomerUpdateService: @customerUpdateService
    customerCreateService: Model\Customer\Service\CustomerCreateService
    ICustomerCreateService: @customerCreateService
    calculationUpdateService: Model\Calculation\Service\CalculationUpdateService
    ICalculationUpdateService: @calculationUpdateService
    calculationCreateService: Model\Calculation\Service\CalculationCreateService
    ICalculationCreateService: @calculationCreateService

    # Router
    router:
        factory: Common\Router\RouterFactory::createRouter
